@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-1: hsl(0, 0%, 100%);
    --background-2: hsl(0, 0%, 90%);
    --background-3: hsl(0, 0%, 70%);

    --base-skeleton-color: #8662f3;
    --highlight-skeleton-color: #ac91ffb2;
    
    --accent-color: #8662f3;
    --accent-color-hover: #8860ffb2;
    
    --secondary-color: rgba(255, 255, 255, 0.05);
    --secondary-color-hover: rgba(255, 255, 255, 0.20);

    --active-color: #d2224d;

    --text: #000000;
    --text-accent-color: #655f76;

    --text-color-white: #fff;
    --text-span: #7e7b88;

    --link-color: #655f76;
    --link-color-hover: #a59bc2;

    --error-color: hsl(0, 70%, 50%);

    --radius: 1rem;    
  }

  .dark {
    --background-1: #24222a; 
    --background-2: #2e2c35;
    --background-3: #35333e;

    --secondary-color: rgba(0, 0, 0, 0.05);
    --secondary-color-hover: rgba(0, 0, 0, 0.20);

    --text: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-background1 text-foreground text-size4;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
