@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Светлая тема */
    --background: #f9f9fc;
    --header-background: #ffffffd5;
    --text: #202020;
    --text-subtitle: #5f5f5f;

    --border-color: hsla(0, 0%, 100%, 0.6);

    --input-color: rgba(0, 0, 0, 0.05);
    --input-border-color: rgba(0, 0, 0, 0.3);

    --accent-color: #8662f3;
    --accent-color-hover: #6b3ee0;
    --secondary-color: rgba(0, 0, 0, 0.05);
    --secondary-color-hover: rgba(0, 0, 0, 0.20);
    --link-color: #655f76;
    --link-color-hover: #a59bc2;

    --active-color: #d2224d;
    --succes-color: #34d399;
    --error-color: #f87171;
    --warning-color: #fbbf24;
    --info-color: #3b82f6;

    --radius: 1rem;
  }

  .dark {
    /* Темная тема */
    --background: hsl(0, 0%, 10%);
    --header-background: hsl(0, 0%, 15%, 0.8);
    --text: #ffffff;
    --text-subtitle: #d1d1d1;

    --border-color: hsla(0, 0%, 100%, 0.1);

    --input-color: rgba(255, 255, 255, 0.05);
    --input-border-color: rgba(255, 255, 255, 0.3);

    --secondary-color: rgba(255, 255, 255, 0.05);
    --secondary-color-hover: rgba(255, 255, 255, 0.20);

  }
}

@layer base {
  body {
    @apply bg-background text-text text-size4;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
  }

  input[type="password"]::-ms-reveal {
    display: none;
  }

  input[type="password"]::-moz-password-field {
    display: none;
  }
}


@layer components {
  .icon-wrapper .moon {
    @apply translate-y-[60px];
  }
    
  .icon-wrapper.dark .moon {
    @apply translate-y-0;
  }


  .icon-wrapper.light .sun {
    @apply translate-y-0;
  }

  .icon-wrapper.dark .sun {
    @apply translate-y-[-60px];
  } 


  .icon-wrapper.dark .tree {
    @apply translate-y-[60px];
  }
  
  .icon-wrapper.light .tree {
    @apply translate-y-[60px];
  }

  .btn-outline {
    @apply border-2 border-dashed border-gray-500 text-gray-700 font-medium px-5 py-3 rounded-lg hover:border-solid hover:scale-105 transition-all duration-300;
  }
}
